apiVersion: v1
kind: Service
metadata:
  name: wordpress-svc
  namespace: demo-app
  labels:
    app: wordpress
spec:
  selector:
    app: wordpress
  ports:
    - protocol: TCP
      port: 80
      targetPort: 80
  type: ClusterIP
